@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #894bca;
    height: 40vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.img-container {
    width: 200px;
    padding: 8px;
}

.favourite-main-heading {
    font-family: Bree Serif;
    color: white;
    font-size: 30px;
    padding: 30px;
}

.bottom-container {
    background-color: white;
    height: 50vh;
}

.favourite-heading {
    font-family: bree serif;
    font-size: 20px;
    color: pink;
    padding: 20px;
}

.bottom-img-container {
    height: 50px;
    width: 50px;
    margin: 20px;

}

.bottom-main-heading {
    font-family: Bree Serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 20px;
}

.bottom-paragraph {
    font-family: beer serif;
    font-size: 15px;
    text-align: center;

}
